body {
  font-family: "Roboto", sans-serif;
  padding: 20px 80px;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 2em;
  }
}
